<div class="outer container">
  <h1>Roots Young Adult Shelter</h1>
  <h3>Group Rollcall</h3>
  <form>
    <div class="form-group">
      <label for="example-datetime-local-input">Date and time</label>
      <div>
        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
      </div>
      <label for="Notes">Notes</label>
      <input class="form-control" type="text">
      <label>Individuals</label>
      <ul class="md-chip-wrapper">
        <li class="md-chip-closed">
          <img src="http://lorempixel.com/400/200/sports/2/" alt="IMG" />
          <span class="md-chip-closed-text">Andi Semler (IFP8KHYUUT)</span>
        </li>
        <li class="md-chip-closed">
          <img src="http://lorempixel.com/400/200/sports/1/" alt="IMG" />
          <span class="md-chip-closed-text">Simeon Elsa (01Q39HJIOM)</span>
        </li>
        <li class="md-chip-closed">
          <img src="https://www.pngarts.com/files/3/Plus-Symbol-Transparent-Images.png" alt="IMG" />
          <span class="md-chip-closed-text">Add Guest</span>
        </li>
      </ul>
    </div>
  </form>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>