<div class="outer container" *ngIf="done">
  <app-success></app-success>
  <button type="submit" class="btn btn-primary" (click)="back()">Back</button>
</div>
<div class="outer container" *ngIf="!done">
  <h4>Roots Young Adult Shelter</h4>
  <h3>Group Rollcall</h3>
  <hr />
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="example-datetime-local-input">Time:</label>
        </div>
        <div class="col-sm-10">
          <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
            id="example-datetime-local-input">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <label for="Notes">Notes</label>
        </div>
        <div class="col-sm-10">
          <input class="form-control" type="text">
        </div>
      </div>
      <br>
      <label>Individuals</label>
      <ul class="md-chip-wrapper">
        <li class="md-chip-closed">
          <img src="http://lorempixel.com/400/200/sports/2/" alt="IMG" />
          <span class="md-chip-closed-text">Andi Semler (IFP8KHYUUT)</span>
        </li>
        <li class="md-chip-closed">
          <img src="http://lorempixel.com/400/200/sports/1/" alt="IMG" />
          <span class="md-chip-closed-text">Simeon Elsa (01Q39HJIOM)</span>
        </li>
        <li class="md-chip-closed">
          <img src="https://www.pngarts.com/files/3/Plus-Symbol-Transparent-Images.png" alt="IMG" />
          <span class="md-chip-closed-text"><input type="text" class="add-chip"></span>
        </li>
      </ul>
    </div>
  </form>
  <button type="submit" class="btn btn-primary" (click)="success()">Submit</button>
</div>
