<div class="nav-outer container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/logo.png" alt="Logo" class="img-responsive logo float-left">
      <span class="float-left text" routerLink="profile">
        Profile
      </span>
      <span class="float-left text" routerLink="reporting">
        Shelter Reporting
      </span>
      <span class="float-left text" routerLink="search">
        Shelter Search
      </span>
      <span class="float-right text logo-text">
        Inlusive ID
      </span>
    </div>
  </div>
</div>
