<div class="outer container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/logo.png" alt="Logo" class="img-responsive logo float-left">
      <!-- <span class="float-left text" (click)="toggle(false)" [ngClass]="{'current':!navService.isReviewer}">
        Add Review
      </span> -->
      <span class="float-left text" (click)="navService.show('Profile')" [ngClass]="{'current':navService.isReviewer}">
        Profile
      </span>
      <span class="float-right text logo-text">
        Inlusive-ID
      </span>
    </div>
  </div>
</div>
