body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #262626;
}


.card {
  position: relative;
  margin: 25px auto;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.card .layer {
  position: absolute;
  top: calc(100% - 3px);
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(#03a9f4, #e81dd3);
  z-index: 1;
  transition: 0.5s;
}

.card:hover .layer {
  top: 0;
}

.card .content {
  position: relative;
  z-index: 2;
}

.card .content p {
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

.card .content .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.card .content .details h2 {
  font-size: 15px;
  color: #fff;
}

.card .content .details h2 span {
  color: #03a9f4;
  font-size: 12px;
  transtion: 0.5s;
}

.card:hover .content .details h2 span {
  color: #fff;
}

i {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 10;
  cursor: pointer;
  color: white;
}
