<div class="testimonials container">
  <div class="row">
    <div class="card col-sm-3 col-md-5">
      <div class="layer"></div>
      <div class="content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Quis nostrum deleniti nemo repellat.
          Id, aliquid necessitatibus perferendis praesentium itaque doloribus molestias quaerat a deleniti distinctio
          voluptate,
          reprehenderit omnis, dolorem ratione.</p>
        <div class="image">
          <img src="https://www.shareicon.net/data/128x128/2016/03/21/737194_people_512x512.png" alt="">
        </div>
        <div class="details">
          <h2>
            Someone <br>
            <span>SOMEONE</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="card col-sm-3 col-md-5">
      <div class="layer"></div>
      <div class="content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Quis nostrum deleniti nemo repellat.
          Id, aliquid necessitatibus perferendis praesentium itaque doloribus molestias quaerat a deleniti distinctio
          voluptate,
          reprehenderit omnis, dolorem ratione.</p>
        <div class="image">
          <img src="https://www.shareicon.net/data/128x128/2016/03/21/737194_people_512x512.png" alt="">
        </div>
        <div class="details">
          <h2>
            Someone <br>
            <span>SOMEONE</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="card col-sm-3 col-md-5">
      <div class="layer"></div>
      <div class="content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Quis nostrum deleniti nemo repellat.
          Id, aliquid necessitatibus perferendis praesentium itaque doloribus molestias quaerat a deleniti distinctio
          voluptate,
          reprehenderit omnis, dolorem ratione.</p>
        <div class="image">
          <img src="https://www.shareicon.net/data/128x128/2016/03/21/737194_people_512x512.png" alt="">
        </div>
        <div class="details">
          <h2>
            Someone <br>
            <span>SOMEONE</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
