<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="item-title"> Shelter A</div>
      <div class="item-title"> 3rd March 2019<br> 7:00 PM</div>
      <div class="item-detail">Checked in to have dinner</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="item-title"> Shelter A</div>
      <div class="item-title"> 3rd April 2019<br> 7:00 PM</div>
      <div class="item-detail">Helped out with cleaning at shelter B</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="item-title"> Shelter A</div>
      <div class="item-title"> 17th April 2019<br> 7:00 PM</div>
      <div class="item-detail">Slept at Shelter A</div>
    </li>

  </ul>

</div>
