<h2 class="super_duper_heading">About Me</h2>
<p>
  My name is John Doe. I grew up an only child. I was born and raised in Seattle, Washington, but I love to travel and explore. My passion is involved in taking care of the environment and working towards a cleaner tomorrow. I frequently volunteer with an organization that plants trees and works to bring awareness to the growing issue of global warming. 
</p>
<h2 class="super_duper_heading">Achievements</h2>
<ul>
    <li>I served in the army for 4 years as a first lieutenant. I did two tours in Afghanistan.</li>
</ul>
<h2 class="super_duper_heading">Interesting Facts</h2>
<ul>
    <li>I like to play the guitar</li>
    <li>I can speak 3 different languages</li>
</ul>
