h2.super_duper_heading {
    margin: 30px 10px 10px 0px;
    color: #0af;
    font-size: 18px;
    font-weight: bold;
    height: 1%;
    line-height: 1.1em;
    padding-bottom: 10px;
    text-transform: uppercase;
 }