/* You can add global styles to this file, and also import other style files */
* {}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media (print),
(prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}
