<div class="outer container">
  <div id="user" class="container profile">
    <div class="row">
      <div class="col text-center mt-3">
        <img alt="picture" src="assets/avatar.jpeg" class="img-lg rounded-circle border shadow" />
        <h2 class="mt-3">John Doe</h2>
        <h4 class="mt-3">January 1st, 1983</h4>
        <h4 class="mt-3">University District</h4>
      </div>
    </div>
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><i class="fa fa-user" aria-hidden="true"></i> Bio</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><i class="fa fa-globe" aria-hidden="true"></i>Testimonials</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><i class="fa fa-info" aria-hidden="true"></i>More info</label>

    <section id="content1">
      <app-bio></app-bio>
    </section>

    <section id="content2">
      <div class="testimonials container">
        <app-testimonials></app-testimonials>
      </div>
    </section>

    <section id="content3">
      <app-info></app-info>
    </section>

  </div>
</div>
